
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="privacy about">
    <h3>Về Chúng Tôi</h3>
    <br />
    <div class="animi" style="font-size: 16px;">  
    <p>
        &nbsp;&nbsp;+ Uy tín trong giao dịch: website FULLFAACEStore 
    </p>
   </div>
    <div class="agile_about_grids">
        <div class="col-md-6 agile_about_grid_right" style="text-align:center"  >
            <img src="/Assets/Client/images/About.jpg" alt="" class="img-responsive" />
        </div>
        
        <div class="clearfix"> </div>
    </div>
</div>