@using PagedList.Mvc;
@model PagedList.IPagedList<Model.EF.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    Footer
}
<marquee align="center" direction="left" height="200" scrollamount="13" width="100%" behavior="alternate"><h3>Tính năng đang được bảo trì. </h3></marquee>